/* avoid page break after first section */
.front-matter-container, .main {
  break-before: avoid;
  break-after: avoid;
}

#TOC {
    break-before: avoid;
    margin-top: 1cm;
}

pre, code {
    font-size: 9pt;
}

code {
    background-color: #eee;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

div.sourceCode {
    background-color: #eee;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius:8px;
}

.leftbut { color:#fff;
    background-color:#337ab7;
    border-color:#2e6da4;
    width:120px;
    text-transform:uppercase;
    font-size:9px;
    font-weight:bold;
}

.nobreakbefore {
    break-before: avoid;
    margin-top:5em;
}
