video.loading { background: black; }

/* stop the overlay from being put underneath the video, otherwise clicks don't get handled properly amongst other things */
#problem_ui {-webkit-transform:translateZ(15); z-index:15;}
#video_overlay, #video_overlay_canvas { -webkit-backface-visibility: hidden; -webkit-transform: translateZ(0); }
#review_overlay, #review_overlay_canvas {position:absolute; top:0; right:0; -webkit-transform:translateZ(9999); z-index:9999;}
/* align the video controls below the video content */
.vjs-control-bar { visibility: visible !important; opacity: 1 !important; bottom: -3.1em !important; background-color: rgba(7, 20, 30, 1) !important; }
.video-js .vjs-big-play-button { display: none; }

.bareslider { display:inline-block; margin-left:4px; margin-right:4px;}
.bareslider .irs-max, .bareslider .irs-min, .bareslider .irs-single, .bareslider .irs-from, .bareslider .irs-to { display:none; }
.bareslider .irs-handle { top:0px; }
.bareslider .irs-line { top:7px;}
.bareslider .irs-bar {top:8px;}
#bsbar .btn { width:100%; margin-bottom:2px;}
